<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body class="bg-login">
    <div class="container-fluid mt-5 pb-5 ">
        <h3 class="text-center mb-4 ">Benvenuto, procedi con la registrazione</h3>
        <div class="row ">
            <div class="col-12  d-flex justify-content-center ">
                <div class="card-register  p-5">
                    <div class="text-center text-light pb-4">
                        <i class="fa-solid fa-user-plus font-user"></i>
                    </div>
                    <form class="text-light" action="/register" method="POST">
                        <div class="pb-3">
                            <label for="name">Nome</label><br>
                            <input class="color-input" placeholder="inserisci il tuo nome" type="text" id="name"
                                name="name" required>
                        </div>
                        <div class="pb-3">
                            <label for="surname">Cognome:</label><br>
                            <input class="color-input" placeholder="inserisci il tuo cognome" type="text" id="surname"
                                name="surname" required>
                        </div>
                        <div class="pb-3">
                            <label for="email">Email:</label><br>
                            <input class="color-input" placeholder="inserisci la tua mail" type="email" id="email"
                                name="email" required>
                        </div>
                        <div class="pb-3">
                            <label for="password">Password:</label><br>
                            <input class="color-input" placeholder="inserisci la tua password" type="password"
                                id="password" name="password" required>
                        </div>
                        <div class="text-center pt-3">
                            <input class="btn text-light btn-info" type="submit" value="Register">
                        </div>
                    </form>
                </div>
            </div>
            <p class="text-center mt-4">Per ritornare alla home clicca qui:</p>
            <a href="/" class="text-center"><i
                    class="fa-solid fa-right-from-bracket text-center font-exit text-primary"></i></a>
        </div>
    </div>
</body>

</html>