<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <main>
        <div class="container-fluid">
            <h1>Benvenuto nella pagina del corsista <%= customer.name%>
                    <%=customer.surname%>
            </h1>
            <!-- Inserire i dettagli del corsista -->
        </div>
    </main>
</body>

</html>