<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
</head>

<body>
    <main class='playfair pb-5'>
        <div class="container-fluid">
            <div class='row justify-content-center'>
                <div class='col-12 d-flex justify-content-center pt-3'>
                    <div class=''>
                        <img style="width: 150px;" src='https://mglconsultingsrls.it/site/wp-content/uploads/2017/10/cropped-logo-big.png'/>
                    </div>
                    <h3 class=' ps-3 text-warning'>Benvenuto !</h3>
                    
                </div>
                <!-- <div class='text-center text-light row justify-content-center mt-5 bg-warning py-5'>
                    <div class='col-11 pb-3'>

                        <h4>Benvenuto nella tua dashboard personale!
                            
                        </h4>
                    </div>
                    <div class='text-center col-12'>
                        <button class='btn btn-info  px-2 me-2'><a class='no text-light' href="/user/dashboard/customers">VISUALIZZA I CORSISTI</a></button>
                    
                        <button class='btn btn-info px-2 ms-2'><a class='no text-light' href="/logout">EFFETTUA IL LOGOUT</a></button>								
                    </div>

                </div> -->
                <div class="col-12 col-xl-8 text-center py-5">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo dolorum ipsum nobis! Maxime, ab sequi molestias, doloribus doloremque quos consequatur laudantium id reiciendis sapiente recusandae officiis perspiciatis, temporibus aliquid nihil. Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae impedit sed eum eligendi aut pariatur qui enim placeat possimus. Consectetur nemo minus corporis unde, accusamus asperiores cupiditate saepe dolores assumenda!</p>
                </div>
                <div class="col-12 text-center">
                    <button class="btn btn-danger px-3 py-1"><a class='no text-light' href="/logout"><i class="pe-2 fa-solid fa-face-sad-cry"></i>Effettua il logout</a></button>
                </div>

                

            </div>
                
        </div>	
    </main>

</body>

</html>