<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
</head>

<body>
    <main class='playfair'>
        <div class="container-fluid">
            <div class='row'>
                <div class='col-12 d-flex justify-content-center pt-3'>
                    <div class=''>
                        <img style="width: 150px;" src='/app/public/img/WhatsApp Image 2024-04-23 at 20.42.57.jpeg'/>
                    </div>
                    <h1 class=' ps-3'>Benvenuto nella MGL Dashboard</h1>
                    
                </div>
                <div class='text-center text-light row justify-content-center mt-5 bg-warning py-5'>
                    <div class='col-11 pb-3'>

                        <h4>Benvenuto nella tua dashboard personale!
                            Siamo entusiasti di averti qui. La tua dashboard è il centro di controllo, mettiti comodo
                        </h4>
                    </div>
                    <div class='text-center col-12'>
                        <button class='btn btn-info  px-2 me-2'><a class='no text-light' href="/register">REGISTRATI</a></button>
                    
                        <button class='btn btn-info px-2 ms-2'><a class='no text-light' href="/login">EFFETTUA IL LOGIN</a></button>								
                    </div>

                </div>

                

            </div>
                
        </div>	
    </main>

</body>

</html>