<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
</head>

<body>
    <main class='playfair pb-5'>
        <div class="container-fluid">
            <div class='row justify-content-center'>
                <div class='col-12 d-flex justify-content-center pt-3'>
                    <div class='d-flex justify-content-center'>
                        <img style="width: 65%;"
                            src='https://tse1.mm.bing.net/th?id=OIP.3BO_r-ZIWWX_hdiWjAC7vwHaDI&pid=Api&P=0&h=180' />
                    </div>


                </div>
                <div class='text-center text-light row justify-content-center mt-5 bg-warning py-5'>
                    <div class='col-11 pb-3'>

                        <h4>Benvenuto nella tua dashboard personale!

                        </h4>
                    </div>
                    <div class='text-center col-12'>
                        <button class='btn btn-info  px-2 me-2'><a class='no text-light'
                                href="/user/dashboard/customers">VISUALIZZA I CORSISTI</a></button>
                    </div>

                </div>
                <div class="col-12 col-xl-8 text-center py-5">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo dolorum ipsum nobis! Maxime, ab
                        sequi molestias, doloribus doloremque quos consequatur laudantium id reiciendis sapiente
                        recusandae officiis perspiciatis, temporibus aliquid nihil. Lorem ipsum dolor sit amet
                        consectetur adipisicing elit. Vitae impedit sed eum eligendi aut pariatur qui enim placeat
                        possimus. Consectetur nemo minus corporis unde, accusamus asperiores cupiditate saepe dolores
                        assumenda!</p>
                </div>
                <div class="col-12 text-center">
                    <button class="btn btn-danger px-3 py-1"><a class='no text-light' href="/logout"><i
                                class="pe-2 fa-solid fa-face-sad-cry"></i>logout</a></button>
                </div>
            </div>
        </div>
    </main>
</body>

</html>