<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
</head>

<body>
    <main class='garmond pb-5'>
        <div class="container-fluid">
            <div class='row justify-content-center'>
                <div class='col-12 d-flex justify-content-center pt-3'>
                    <div class='d-flex justify-content-center'>
                        <img style="width: 65%;" src='https://tse1.mm.bing.net/th?id=OIP.3BO_r-ZIWWX_hdiWjAC7vwHaDI&pid=Api&P=0&h=180'/>
                    </div>
                    
                    
                </div>
                <div class='text-center text-light row justify-content-center mt-5 jumbotron  py-5'>
                    <div class='col-12 col-xl-8 pb-3'>

                        <h4 class="color-blue">Benvenuto nella tua dashboard personale!
                            
                        </h4>
                        <p>La dashboard per la gestione dei corsisti presenta una tabella dinamica che elenca tutti i partecipanti ai corsi, organizzati in modo chiaro e intuitivo. Ogni corsista è rappresentato da una card singola e modificabile, che offre un riepilogo delle informazioni personali come nome, contatti e stato attuale del corso. Attraverso la tabella, gli amministratori possono facilmente visualizzare e filtrare i corsisti per criteri specifici </p>
                    </div>
                    <div class='text-center justify-content-center d-flex  col-12'>
                        <a class='no text-light' href="/user/dashboard/customers">
                        <div class=" p-3 d-flex justify-content-center align-items-center button">
                            <i class="fa-solid fa-eye pe-3 font-exit color-blue"></i>
                            <h4 class="color-blue">Visualizza i corsisti</h4>
                        </div>
                        </a>
                    
                        
                    </div>

                </div>
                
                <div class="col-12 pt-3 text-center">
                    <p>Invece se proprio vuoi......</p>
                    <button class="btn btn-danger px-3 py-1"><a class='no text-light' href="/logout"><i class="pe-2 fa-solid fa-face-sad-cry"></i>LOGOUT</a></button>
                </div>

                

            </div>
                
        </div>	
    </main>

</body>

</html>