<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
</head>

<body class="garamond bg-login">

    <%= message %>
        <div class="container-fluid mt-5 pb-5 ">
            <h3 class="text-center mb-4 ">Accedi</h3>
            <div class="row ">
                <div class="col-12  d-flex justify-content-center ">
                    <div class="card-register  p-5">
                        <div class="text-center text-light pb-4">
                            <i class="fa-solid fa-user font-user"></i>
                        </div>

                        <form class="text-light bg-input" action="/guest-login" method="POST">
                            <label for="email">Email</label><br>
                            <input class="color-input form-controlz" placeholder="inserisci la tua mail" type="email"
                                name="email"><br><br>

                            <label for="password">Password</label><br>
                            <input placeholder="inserisci la password" class="color-input" type="password"
                                name="password"><br><br>
                            <label for="fiscal_code">fiscal_code</label><br>
                            <input class="color-input form-controlz" placeholder="inserisci la tua mail" type="text"
                                name="fiscal_code"><br><br>
                            <div class="text-center pt-3">
                                <input class="btn text-light btn-info" type="submit" value="Login">
                            </div>

                        </form>
                    </div>

                </div>
                <p class="text-center mt-4">Per ritornare alla home clicca qui</p>
                <a href="/" class="text-center"><i
                        class="fa-solid fa-right-from-bracket text-center font-exit text-primary"></i></a>
            </div>
        </div>

</body>

</html>