<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
</head>

<body>
    <main class='playfair garamond'>
        <div class="container-fluid ">
            <div class='row justify-content-center'>
                <div class='col-12 col-xl-4 pt-3'>
                    <div class='d-flex justify-content-center'>
                        <img style="width: 65%;" src='https://tse1.mm.bing.net/th?id=OIP.3BO_r-ZIWWX_hdiWjAC7vwHaDI&pid=Api&P=0&h=180'/>
                    </div>
                    
                    
                </div>
                <div class='text-center text-light row justify-content-center jumbotron   mt-5  py-5'>
                    <div class='col-11 col-xl-6 pb-3'>

                        <h4>Benvenuto nella tua dashboard personale!
                            Siamo entusiasti di averti qui. La tua dashboard è il centro di controllo, mettiti comodo
                        </h4>
                    </div>
                    <div class='text-center col-12'>
                        <button class='py-1 px-3 beautiful-blue  px-2 me-2'><a class='no text-light' href="/register"><i class="fa-sharp fa-solid fa-user-plus pe-1"></i>Registrati</a></button>
                    
                        <button class='py-1 px-3 beautiful-blue px-2 ms-2'><a class='no text-light' href="/login"><i class="fa-solid fa-right-to-bracket pe-1"></i> Login</a></button>								
                    </div>

                </div>
                <!-- <div class="col-12 row">
                    <div class="col-8 d-flex justify-content-center">
                        <iframe class="h" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1218.4613777879047!2d15.781466420134036!3d41.048115358245994!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x13384dea38ca3081%3A0x6543ac9fb00a998e!2sMGL%20Consulting%20Srls!5e0!3m2!1sit!2sus!4v1713965043129!5m2!1sit!2sus" width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <div class="col-4">
                        <h4>Passa</h4>
                    </div>
                </div> -->

                

            </div>
            <div class="row  justify-content-center  pt-5">
                <div class="col-4 col-xl-2  py-3 text-center">
                    <i class="fa-brands fa-whatsapp text-success fa-bounce font"></i>
                    <p>Wathsapp</p>

                </div>
                <div class="col-4 col-xl-2 text-center py-3">
                    <i class="fa-solid fa-envelope text-info fa-fade font"></i>
                    <p>Mail</p>
                </div>
                <div class="col-4 col-xl-2 text-center py-3">
                    <i class="fa-brands fa-facebook font text-primary"></i>
                    <p>Facebook</p>
                </div>
                
            </div>   
        </div>
        
    </main>
</body>

</html>