name: Stop Azure Web App

on:
  schedule:
    # Set to run at 8:30 AM (UTC) from Monday to Friday
    - cron:  '30 18 * * 1-5'

jobs:
  stop:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Azure Custom Login
      shell: bash
      run: az login --service-principal -u ${{ secrets.AZURE_CLIENT_ID }} -p ${{ secrets.AZ_CLIENT_SECRET }} --tenant ${{ secrets.AZURE_TENANT_ID }}

    - name: Stop Azure Web App
      run: |
          az webapp stop --name 'mglmanagement' --resource-group 'mgl-consulting-resource-group'
